---
import NewsLayout from "@/layouts/NewsLayout.astro";
import pb from "@/lib/database";
import HorizontalNews from "@/components/berita/HorizontalNews.astro";
import ShareButton from "@/components/ShareButton";
const { slug } = Astro.params;

const detail_berita = await pb.collection('news').getFullList({expand:'category', filter:`slug = '${slug}'`})
const related_berita = await pb.collection('news').getFullList({expand:'category', fields: 'id, collectionId, title, slug, date, document, category', filter:`category.id = '${detail_berita[0].category}'`, sort:'-date', limit: 4})
const post = detail_berita[0]
---

<NewsLayout title={post.title} description={post.content} url={post.slug} image={pb.files.getURL(post, post.document)}>
  <article class="my-10 mx-30 max-sm:mx-5 space-y-3">
    <h1 class=" text-4xl max-sm:text-3xl font-semibold font-serif">{post.title}</h1>
    <p class="text-sm max-sm:text-xs text-gray-500"><a href={`/berita/kategori/${post.expand?.category?.name}`} class="font-medium">{post.expand?.category?.name}</a> | {new Date( post.date).toLocaleDateString('id-ID',{day:'2-digit', month:'long', year:'numeric'})}</p>
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-5">
            <p class="text-sm max-sm:text-xs text-gray-500">Humas Kemenag</p>
        </div>

    </div>
    <img src={pb.files.getURL(post, post.document)} alt="gambar" class="my-5 w-full h-96 max-sm:h-64 object-cover object-center rounded-2xl">
    <article class="text-justify mx-30 max-sm:mx-5">
        <div set:html={post.content} />
    </article>
    <ShareButton className="items-center justify-center" url={`${process.env.SITE_URL || import.meta.env.SITE_URL}/berita/blog/${post.slug}`} title={post.title} client:visible />
    <!-- related berita -->
    <h3 class="text-2xl max-sm:text-xl font-semibold mt-10 max-sm:mt-10">Berita Terkait</h3>
    <div class="grid grid-cols-4 max-sm:grid-cols-1 gap-5 mb-20">
      {related_berita.map((item) => (
        <HorizontalNews title={item.title} date={item.date} category={item.expand?.category?.name} image={pb.files.getURL(item, item.document)} slug={item.slug} />
      ))}
    </div>
  </article>
</NewsLayout>