---
import NewsLayout from "@/layouts/NewsLayout.astro";
import pb from "@/lib/database";
const { slug } = Astro.params;

const detail_berita = await pb.collection('news').getFullList({expand:'category', filter:`slug = '${slug}'`})
const post = detail_berita[0]

---

<NewsLayout title={post.title} description={post.content} url={post.slug} image={pb.files.getURL(post, post.document)}>
  <article class="my-10 mx-30 max-sm:mx-5 space-y-3">
    <h1 class=" text-4xl max-sm:text-3xl font-semibold font-serif">{post.title}</h1>
    <p class="text-sm max-sm:text-xs text-gray-500"><a href={`/berita/kategori/${post.expand?.category?.name}`} class="font-medium">{post.expand?.category?.name}</a> | {new Date( post.created).toLocaleDateString('id-ID',{day:'2-digit', month:'long', year:'numeric'})}</p>
    <div class="flex items-center justify-between">
        <div class="flex items-center gap-5">
            <p class="text-sm max-sm:text-xs text-gray-500">Humas Kemenag</p>
        </div>

    </div>
    <img src={pb.files.getURL(post, post.document)} alt="gambar" class="my-5 w-full h-96 max-sm:h-64 object-cover object-center rounded-2xl">
    <article class="text-justify mx-30 max-sm:mx-5">
        <div set:html={post.content} />
    </article>
  </article>
</NewsLayout>