---
import Hero from "@/components/berita/Hero.astro";
import HorizontalNews from "@/components/berita/HorizontalNews.astro";
import NewsLayout from "@/layouts/NewsLayout.astro";
import pb from "@/lib/database";

const {searchParams} = new URL(Astro.url.href);
const search = searchParams.get("search") || "";
const beritas = await pb.collection('news').getList(1, 12, {expand:'category', filter: `title ~ '${search}'`, fields: 'id, collectionId, title, slug, date, document, expand', sort:'-date', limit: 12})
const berita = beritas.items.slice(0, 4)
const beritaTerbaru = beritas.items.slice(4, 12)
---

<NewsLayout title="Home">
	<section class="mx-20 max-sm:mx-5">
		<div class=" bg-gray-100 rounded p-3 w-full my-5">
			<span class="font-semibold text-orange-600 mr-5 animate-pulse max-sm:text-sm">Update Baru: </span>{berita[0].title}</div>
		<Hero data={berita}/>
	
		<!-- Latest News -->
		 <div class="flex items-center justify-between mt-20 mb-5">
			 <h1 class="text-2xl font-semibold">Berita Terkini</h1>
		 </div>
		 <div class="grid grid-cols-4 max-sm:grid-cols-1 gap-5 mb-20">
			 {beritaTerbaru.map((item) => (
				<HorizontalNews title={item.title} date={item.date} category={item.expand?.category?.name} image={pb.files.getURL(item, item.document)} description={item.content} slug={item.slug} />
			 ))}
		 </div>
	</section>
</NewsLayout>