---
import { BlurFade } from "@/components/magicui/blur-fade";
import BaseLayout from "@/layouts/BaseLayout.astro";
import pb from "@/lib/database";

const data = await pb.collection('profiles').getFullList({filter: `category = 'sejarah'`})

const kepala = [
  {
    name: "BUCHORI",
    year: "1981-1986",
    image: "/profil-sejarah/BUCHORI.webp",
  },
  {
    name: "MOHAMMAD SALEH",
    year: "1986-1996",
    image: "/profil-sejarah/M SALEH.webp",
  },
  {
    name: "TAUCHID",
    year: "1996-1997",
    image: "/profil-sejarah/TAUCHID.webp",
  },
  {
    name: "SUDJOKO SANTOSA",
    year: "1997-2002",
    image: "/profil-sejarah/SUDJOKO.webp",
  },
  {
    name: "NAZLI IDRIS",
    year: "2005-2008",
    image: "/profil-sejarah/NAZLI.webp",
  },
  {
    name: "MARSUWI",
    year: "2008-2012",
    image: "/profil-sejarah/MARSUWI.webp",
  },
  {
    name: "MUHAMMAD",
    year: "2012-2017",
    image: "/profil-sejarah/MUHAMMAD.webp",
  },
  {
    name: "MUFI IMRON ROSYADI",
    year: "2017-2021",
    image: "/profil-sejarah/MUFI.webp",
  },
  {
    name: "SAMSUR",
    year: "2021-2023",
    image: "/profil-sejarah/SAMSUR.webp",
  },
  {
    name: "FAUSI",
    year: "2023-2024",
    image: "/profil-sejarah/FAUSI.webp",
  },
  {
    name: "DIDIK KURNIAWAN",
    year: "2024-Sekarang",
    image: "/profil-sejarah/DIDIK.webp",
  },
]
---

<BaseLayout title="Sejarah">
  <div class="max-sm:mx-5 mx-20 my-30">
    <h1 class="text-3xl font-bold mb-5">Sejarah Singkat</h1>
    <article class=" md:text-lg text-justify" set:html={data[0].content} />
    <div class=" grid grid-cols-5 max-sm:grid-cols-2 gap-10 max-sm:gap-5 mt-10">
      {
        kepala.map((item,index) => (
          <BlurFade delay={index * 0.1} client:visible>
            <img src={item.image} alt={item.name} class="w-64 h-72 object-cover rounded-md transition duration-300 grayscale hover:grayscale-0"/>
            <h2 class="text-xl font-medium text-center">{item.name}</h2>
            <p class="text-center">{item.year}</p>
          </BlurFade>
        ))
      }
    </div>
  </div>
</BaseLayout>