---
import PieFromSheet from "@/components/PieChart";
import BaseLayout from "@/layouts/BaseLayout.astro";

const csvUrlSPAK = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTwVPUqSKDu8juq4Cax4xknNC0_M-1WIzkuwb8EC3w18Y6WPAVTz7VBC1XZqXohvKO85fWiI6DJ3FKn/pub?gid=992793483&single=true&output=csv"
const csvUrlSPKP = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSyYcMkYtohUjoHO4TaA-1v_e3uM-asyhW-440y-SbWCjirYiDiO1LDJj7XXW_nKfaZfdP5vAK-f30g/pub?gid=1053296242&single=true&output=csv"
const csvUrlSKM = "https://docs.google.com/spreadsheets/d/e/2PACX-1vS-XnLQR2igFV_Mj5eJOaeye_nqvTavsBrQhK_OHvYPZ66-SCtbliSkQtmpiwQJ4MfSBKIfPrxdw0ip/pub?gid=1673183934&single=true&output=csv"
const survei = Astro.url.searchParams.get('survei') ?? 'skm';

---

<BaseLayout title="Survei Pelayanan">
  <div class="max-sm:mx-5 mx-20 my-30">
    <h1 class="text-3xl font-bold mb-10">Survei Pelayanan</h1>
    <div class="grid grid-cols-3 max-sm:grid-cols-1 gap-5">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdRs4BwJO3aRW12PzwLiz7f-A3Cu1fnT2whp7Vm1rtns1to7A/viewform?usp=dialog" target="_blank"><img src="/logo/SKM.webp" class=" rounded-2xl hover:scale-105 hover:shadow-2xl transition-all duration-300" alt="Survey Indeks Kepuasan Masyarakat terhadap Pelayanan Publik"></a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScAYJR8sLMgnjDzMAsindhFAFW1t-cIJAYURUmpj2zdlLM-sA/viewform?usp=dialog" target="_blank"><img src="/logo/SPKP.webp" class=" rounded-2xl hover:scale-105 hover:shadow-2xl transition-all duration-300" alt="Survei Persepsi Kualitas Pelayanan (SPKP) pada Kantor Kementerian Agama Kota Probolinggo"></a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLScrnWwmLRdVQ_5nIZE_aMNFc28avfaY1eTx-YyrXiLiwXKMeQ/viewform?usp=dialog" target="_blank"><img src="/logo/SPAK.webp" class=" rounded-2xl hover:scale-105 hover:shadow-2xl transition-all duration-300" alt="Survey Persepsi Anti Korupsi"></a>
    </div>

    <div class="my-10 flex max-sm:flex-col items-center justify-between">
      <h1 class="text-3xl max-sm:mb-5 font-bold">Hasil Survei</h1>
      <form class="flex gap-3 max-sm:flex-col items-center">
        <select name="survei" class="border border-gray-300 rounded-md p-2 max-sm:w-full">
          <option value="skm" selected={survei === 'skm'}>Survey Indeks Kepuasan Masyarakat terhadap Pelayanan Publik</option>
          <option value="spkp" selected={survei === 'spkp'}>Survey Persepsi Kualitas Pelayanan (SPKP) pada Kantor Kementerian Agama Kota Probolinggo</option>
          <option value="spak" selected={survei === 'spak'}>Survey Persepsi Anti Korupsi</option>
        </select>
        <button type="submit" class="bg-green-600 text-white px-5 py-2 rounded-md max-sm:w-full">Tampilkan</button>
      </form>
    </div>

    <!-- Diagram SKM -->
    {survei === 'skm' && (
      <>
        <h3 class="text-xl font-semibold mb-5">Survey Indeks Kepuasan Masyarakat terhadap Pelayanan Publik</h3>
        <div class="grid grid-cols-3 max-sm:grid-cols-2 gap-5">
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={9}/>
            <PieFromSheet scaleType="1-4"  client:visible csvUrl={csvUrlSKM} colIndex={10}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={11}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={12}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={13}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={14}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={15}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={16}/>
            <PieFromSheet scaleType="1-4" client:visible csvUrl={csvUrlSKM} colIndex={17}/>
        </div>

      </>
    )}
    <!-- Diagram SPKP -->
    {survei === 'spkp' && (
      <>
        <h3 class="text-xl font-semibold mb-5">Survey Persepsi Kualitas Pelayanan (SPKP) pada Kantor Kementerian Agama Kota Probolinggo</h3>
        <div class="grid grid-cols-3 max-sm:grid-cols-2 gap-5">
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={10} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={11} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={12} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={13} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={14} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={15} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={16} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={17} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={18} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={19} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={20} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={21} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={22} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={23} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={24} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={25} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={26} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={27} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={28} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={29} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={30} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={31} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={32} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={33} />
          <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPKP} colIndex={34} />
        </div>
      </>
    )}
    <!-- Diagram SPAK -->
    {survei === 'spak' && (
      <>
        <h3 class="text-xl font-semibold mb-5">Survey Persepsi Anti Korupsi</h3>
        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-5">
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={9}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={10}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={11}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={12}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={13}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={14}/>
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={15}/> 
            <PieFromSheet scaleType="1-6" client:visible csvUrl={csvUrlSPAK} colIndex={16}/>
        </div>
      </>
    )}
  </div>
</BaseLayout>