---
import BaseLayout from '@/layouts/BaseLayout.astro'
import BarChart from '@/components/BarChart';
import DataTableFromCsv from '@/components/DataTableFromCsv';

const { id } = Astro.params 
const csvUrl = () => {
  switch (id) {
    case 'Lembaga Madrasah':
      return {
        url:"https://docs.google.com/spreadsheets/d/e/2PACX-1vRlV4_mYKcppHjOJWraza9FEF785NqQbKpRZJLXaq7gQ9PYxM1uV-a9fG5Urp3jsg/pub?gid=1502408189&single=true&output=csv",
        colIndex: 3,
        colIndex2: 4
      }
    case 'Lembaga TPQ dan Madin':
      return {
        url:"https://docs.google.com/spreadsheets/d/e/2PACX-1vQ3L5H3IrMLV-_XaHJVXW8ieSbmlNx71W4Bf9Pc7lLJKWdZHC-P0NIN0Op7AyjZxA/pub?gid=705032251&single=true&output=csv",
        colIndex: 2,
        colIndex2: 5
      }
    default:
      return {
        url:"",
        colIndex: 0,
        colIndex2: 0
      }
  }
} 
---

<BaseLayout title={`Statistik ${id}`}>
  <div class="mx-20 max-sm:mx-5 mt-30 mb-15 space-y-2">
    <h1 class="text-3xl font-bold capitalize max-sm:text-2xl">Statistik {id}</h1>
    <p class="opacity-70">Informasi publik ini dapat diakses secara gratis. Pemohon/pengguna informasi publik dapat melakukan penggandaan secara mandiri di Kementerian Agama atau menyediakan flashdisk untuk perekaman data dan informasi.</p>

    <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-5">
      <BarChart client:load csvUrl={csvUrl().url} colIndex={csvUrl().colIndex}  />
      <BarChart client:load csvUrl={csvUrl().url} colIndex={csvUrl().colIndex2}  />
    </div>
    <DataTableFromCsv client:load csvUrl={csvUrl().url} />

  </div>

</BaseLayout>
