---
import Navbar from '@/components/berita/Navbar.astro';
import '../styles/global.css';
const { title, description,url,image, } = Astro.props;

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <!-- Title -->
        <meta property="og:title" content={title} />
        <!-- Deskripsi -->
        <meta property="og:description" content={description.slice(0, 100)} />
        <!-- URL -->
        <meta property="og:url" content={process.env.SITE_URL || import.meta.env.SITE_URL + '/berita/blog/' + url} />
        <!-- Gambar preview -->
        <meta property="og:image" content={image} />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="630" />
        <!-- Type (website, article, video, dll.) -->
        <meta property="og:type" content="article" />
        <!-- Optional untuk Twitter -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description.slice(0, 100)} />
        <meta name="twitter:image" content={image} />
        <meta name="twitter:url" content={process.env.SITE_URL || import.meta.env.SITE_URL + '/berita/blog/' + url} />

		<title>{title}</title>
	</head>
	<body>
        <Navbar/>
		<slot/>
	</body>
</html>